<settings version="2">
    <setting id="auto-view">true</setting>
    <setting id="label0" default="true"></setting>
    <setting id="label1" default="true"></setting>
    <setting id="label2" default="true"></setting>
    <setting id="label3" default="true"></setting>
    <setting id="label4" default="true"></setting>
    <setting id="label5" default="true"></setting>
    <setting id="label6" default="true"></setting>
    <setting id="MAIN">50</setting>
    <setting id="product">ViCv-fyWx-osGw</setting>
</settings>
